body {
    max-width: 980px;
    margin: 0 auto;
    font-family: 'Lekton', sans-serif;
}

li a {
    display: inline-block;
    width: 150px;
    padding: 15px;
    color: white;
}

li {
    display: inline-block;
}

li a:hover {
    background-color: #87987F;
}

span {
    margin: 20px;
}

ul {
    list-style-type: none;
    background-color: #AFB7AC;
}

.big-card {
    display: inline-block;
    width: 450px;
    margin: 20px;
    background-color: #AFB7AC;
    text-align: center;
    margin: 20px 92px;
    box-shadow: 3px 3px 3px grey;
}

.card {
    display: inline-block;
    width: 280px;
    margin: 20px;
    background-color: #AFB7AC;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
}

.delete {
    float: right;
    outline: none;
    border: none;
    background-color: #AFB7AC;
    margin: 5px;
}

.big-card img {
    border: 2px solid white;
}

.card img {
    max-height: 150px;
    max-width: 245px;
    border: 2px solid white;
}

.delete:hover {
    color: red;
    cursor: pointer;
}

#new-listing {
    background-color: #AFB7AC;
    margin: 20px;
    padding: 20px;
}

#new-listing button {
    font-size: 1.25em;
    background-color: #87987F;
    border: none;
    padding: 10px;
}

#new-listing button:hover {
    cursor: pointer;
}