<!-- display lowest price listing most prominently -->
<div class="big-card">
    <button class="delete" ng-click="rc.deleteListing(rc.lowestPrice.id)">delete X</button>
    <img ng-src="images/{{rc.lowestPrice.image_path}}">
    <div>
        <h1>${{rc.lowestPrice.cost}}</h1>
        <p>{{rc.lowestPrice.sqft}} sq.ft.
            <span> | </span>{{rc.lowestPrice.city}}</p>
    </div>
</div>

<!-- repeat array of remaining listing -->
<div ng-repeat="listing in rc.forRentArray" class="card">
    <button class="delete" ng-click="rc.deleteListing(listing.id)">delete X</button>
    <img ng-src="images/{{listing.image_path}}">
    <div>
        <h2>${{listing.cost}}</h3>
            <p>{{listing.sqft}} sq.ft.
                <span> | </span>{{listing.city}}</p>
    </div>
</div>