<!-- display lowest price listing most prominently -->
<div class="big-card">
    <button class="delete" ng-click="sc.deleteListing(sc.lowestPrice.id)">delete X</button>
    <img ng-src="images/{{sc.lowestPrice.image_path}}">
    <div>
        <h1>${{sc.lowestPrice.cost}}</h1>
        <p>{{sc.lowestPrice.sqft}} sq.ft.
            <span> | </span>{{sc.lowestPrice.city}}</p>
    </div>
</div>

<!-- repeat array of remaining listing -->
<div ng-repeat="listing in sc.forSaleArray" class="card">
    <button class="delete" ng-click="sc.deleteListing(listing.id)">delete X</button>
    <img ng-src="images/{{listing.image_path}}">
    <div>
        <h2>${{listing.cost}}</h2>
        <p>{{listing.sqft}} sq.ft.
            <span> | </span>{{listing.city}}</p>
    </div>
</div>